<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Mobile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>mobile</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<!-- Asset Catalog primary app icon set name -->
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>amber</key>
			<dict>
				<!-- Use CFBundleIconFiles for maximum compatibility with App Store validation -->
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-amber</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark_cyan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-dark_cyan</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark_gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-dark_gold</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark_purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-dark_purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>emerald</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-emerald</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>indigo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-indigo</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>mono</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-mono</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>sky</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-sky</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
